@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header{
background-color: black;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
.Logo{
color: gold;
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navigation a{
color: gold;
text-decoration: none;
font-size: 1.1em;
font-weight: 500;
padding-left: 30px;
}
.navigation a:hover{
color:white
}
section{
padding: 100px;
}
.main{
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
background-color:gold;
}
.main h2{
   color: black;
   font-size: 1.4em;
   font-weight: 500;
}
.main h2 span {
color: black;
font-size: 3em;
font-weight: 600;
display: inline-block;
margin-top: 10px;
}
.main h3{
color: black;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
}
.main-btn {
    color: gold;
    background-color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s;
}
.main-btn:hover {
     background-color: black;
     transform: scale(1.1);
}
.social-icons a {
   color: black;
   font-size: 1.7em;
   padding-right: 30px;
}
.social-icons a:hover {
  color: white; 
}
.title {
display: flex;
justify-content: center;
color: gold;
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
}
.cards {
    background-color: black;
}
.content{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.info {
color: black;
text-align: center;
}
.card{
color:black;
width: 21.25em;
box-shadow: 0 5px 25px rgb(251, 255, 0);
background-color: gold;
border-radius: 10px;
padding: 25px;
margin: 15px;
transition: 1.7s ease;
}
.card:hover {
transform: scale(1.1);
}
.icon {
color: black;
font-size: 8em;
text-align: center;
}
.info h3{
color: black;
font-size: 1.2em;
font-weight: 700;
margin: 10px;
}
.contact {
background-color: gold;
}
.titles{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    }
.footer{
background-color: black;
padding: 23m;
display: flex;
justify-content: space-between;
}
.footer-title{
    color: gold;
    font-size: 1.3em;
    font-weight: 600;
}
.social-icon a{
    color: gold;
    font-size: 1.7em;
    padding-right: 30px;
 }
 .social-icon a:hover{
color: white;
 }

 .footer-title:hover{
    color: white;
 }






 
    


 






